body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.red-button {
    background-color: red;
    color: white;
    border: none;
    width: 50vh;
    height: 50vh;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 50%;
    border: 1vh solid black;
}

.red-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
